<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd"
>
    <module name="Belco_Hyva" setup_version="1.0.0">
        <sequence>
            <module name="Hyva_Theme"/>
            <module name="Belco_Widget"/>
        </sequence>
    </module>
</config>
