<?xml version="1.0"?>
<!--
/**
 * @author      Henk Valk (henk@falconmedia.nl)
 * @author      Ruud van Zuidam (allrude@gmail.com)
 * @package     Belco_Hyva
 * @since       version 0.4
 * Copyrights  2024 Falcon Media. All rights reserved.
 * https://www.falconmedia.nl
 */
-->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
    <event name="hyva_config_generate_before">
        <observer
            name="Belco_Hyva_Register_Hyva_Config"
            instance="Belco\Hyva\Observer\RegisterModuleForHyvaConfig"
        />
    </event>
</config>
