<?xml version="1.0"?>
<!-- Route for Belco config AJAX endpoint -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="belco" frontName="belco">
            <module name="Belco_Hyva" />
        </route>
    </router>
</config>
